<%= form_with(model: @contact, url: contacts_path, local: true) do |f| %>
  <h5 class='form-header-text'>お問い合わせフォーム</h5>
  <% if @contact.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label "お名前" %>
    <%= f.text_field :name, placeholder: "お名前", class: "input-form" %>
  </div>
  <div class="form-group">
    <%= f.label "お問合せ内容" %>
    <%= f.text_area :content, placeholder: "お問合せ内容を入力してください", class: "input-form" %>
  </div>
  <div class="register-btn">
    <%= f.submit '送信' %>
      <!--<i class="fas fa-paper-plane"></i>-->
  </div>
  <div class="register-btn">
    <%= link_to "もどる", root_path, style:"background-color: #aaa" %>
  </div>

<% end %>